@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@font-face {
  font-family: 'Admin Icons';
  src: url('../fonts/admin-icons.woff2') format('woff2'), url('../fonts/admin-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100%;
  font: 400 14px/1 'Roboto', 'Open Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.ai {
  font-family: 'Admin Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ai-dashboard:before {
  content: "\e604";
}
.ai-magebig:before {
  content: '\e63a';
}
.ai-sales:before {
  content: '\e60b';
}
.ai-catalog:before {
  content: '\e608';
}
.ai-customers:before {
  content: '\e603';
}
.ai-marketing:before {
  content: '\e609';
}
.ai-content:before {
  content: '\e602';
}
.ai-reports:before {
  content: '\e60a';
}
.ai-stores:before {
  content: '\e60d';
}
.ai-system:before {
  content: '\e610';
}
.ai-arrow-left:before {
  content: '\e626';
}
.ai-checkmark:before {
  content: '\e62d';
}
.ai-multiply:before {
  content: '\e62f';
}
.ai-photocamera:before {
  content: '\e63c';
}
.ai-trash:before {
  content: '\e630';
}
.ai-left:before {
  content: '\e629';
}
.ai-right:before {
  content: '\e62a';
}
.ai-arrow-down-in-circle:before {
  content: '\e616';
}
.ai-delete:before {
  content: '\e620';
}

.ai-cms:before {
  content: '\e602';
}
.ai-customers:before {
  content: '\e603';
}
.ai-dashboard:before {
  content: '\e604';
}
.ai-logo:before {
  content: '\e606';
}
.ai-product:before {
  content: '\e608';
}
.ai-promotions:before {
  content: '\e609';
}
.ai-reports:before {
  content: '\e60a';
}
.ai-sales:before {
  content: '\e60b';
}
.ai-stores:before {
  content: '\e60d';
}
.ai-systems:before {
  content: '\e610';
}
.ai-close-mage:before {
  content: '\e62f';
}
.ai-menu-item:before {
  content: '\e63a';
}
.ai-info:before {
  content: '\e61a';
}
.ai-lock:before {
  content: '\e61b';
}
.ai-loop:before {
  content: '\e61c';
}
.ai-plus:before {
  content: '\e61d';
}
.ai-recover:before {
  content: '\e61e';
}
.ai-refresh:before {
  content: '\e61f';
}
.ai-remove-small:before {
  content: '\e620';
}
.ai-retweet:before {
  content: '\e621';
}
.ai-unlocked:before {
  content: '\e622';
}
.ai-warning:before {
  content: '\e623';
}
.ai-arrow-left-2:before {
  content: '\e624';
}
.ai-arrow-right:before {
  content: '\e625';
}
.ai-back-arrow:before {
  content: '\e626';
}
.ai-calendar:before {
  content: '\e627';
}
.ai-caret-down:before {
  content: '\e628';
}
.ai-caret-left:before {
  content: '\e629';
}
.ai-caret-right:before {
  content: '\e62a';
}
.ai-caret-up:before {
  content: '\e62b';
}
.ai-ccw:before {
  content: '\e62c';
}
.ai-check-mage:before {
  content: '\e62d';
}
.ai-clock:before {
  content: '\e62e';
}
.ai-delete:before {
  content: '\e630';
}
.ai-edit:before {
  content: '\e631';
}
.ai-error:before {
  content: '\e632';
}
.ai-help:before {
  content: '\e633';
}
.ai-history:before {
  content: '\e634';
}
.ai-not-installed:before {
  content: '\e638';
}
.ai-disabled:before {
  content: '\e639';
}
.ai-dot:before {
  content: '\e637';
}
.ai-export:before {
  content: '\e635';
}
.ai-import:before {
  content: '\e636';
}
.ai-gripper:before {
  content: '\e617';
}
.ai-forward:before {
  content: '\e618';
}
.ai-backward:before {
  content: '\e619';
}
.ai-expand-close:before {
  content: '\e615';
}
.ai-expand-open:before {
  content: '\e616';
}
.ai-home:before {
  content: '\e611';
}
.ai-lego:before {
  content: '\e612';
}
.ai-tool:before {
  content: '\e613';
}
.ai-updater:before {
  content: '\e614';
}
.ai-notification-02:before {
  content: '\e607';
}
.ai-account:before {
  content: '\e600';
}
.ai-arrowdown:before {
  content: '\e601';
}
.ai-filter:before {
  content: '\e605';
}
.ai-search:before {
  content: '\e60c';
}
.ai-views:before {
  content: '\e60f';
}
.ai-tag:before {
  content: '\e63b';
}
.ai-camera:before {
  content: '\e63c';
}
.ai-grid:before {
  content: '\e63d';
}
.ai-list-menu:before {
  content: '\e63e';
}
.ai-cart:before {
  content: '\e63f';
}
.ai-screen:before {
  content: '\e640';
}
.ai-video:before {
  content: '\e641';
}
.ai-reset:before {
  content: '\e642';
}
.ai-clip:before {
  content: '\e643';
}
.ai-external-link:before {
  content: '\e644';
}
.ai-module:before {
  content: '\e647';
}
.ai-alert-round:before {
  content: '\e648';
}
.ai-document:before {
  content: '\e649';
}
