@import "mixins";
@import "variables";

.header {
  display: flex;
  align-items: center;

  @include respond-to-less-than($media_large) {
    display: block;
    text-align: right;
  }

  &__title {
    @include respond-to-less-than($media_large) {
      margin-bottom: 5px;
    }
  }

  &__toolbar {
    margin: 0 0 0 auto;
    flex-shrink: 0;
  }

  &__btn {
    display: inline-block;
    margin: 0 0 0 15px;

    @include respond-to-less-than($media_large) {
      margin-top: 4px;
    }

    &:first-child {
      margin-left: 0;

      @include respond-to-less-than($media_large) {
        margin-top: 0;
      }
    }
  }
}
