@import "mixins";
@import "variables";

.page {
  padding: 40px 20px 90px;

  @include respond-to-less-than($media_large) {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__list-info {
    margin: 40px 0 0;
  }

  &__grid {
    display: block;
    margin: 15px 0 0;
  }
}
