<form class="address-form"
      *ngIf="addressForm"
      [formGroup]="addressForm"
      novalidate
>

  <div class="address-form__field field"
       *ngIf="showIsDefault && addressForm.get('isDefault') as isDefault"
  >
    <label class="field__label">По умолчанию</label>
    <div class="field__control address-form__control">
      <toggle [formControl]="isDefault"></toggle>
    </div>
  </div>

  <div class="address-form__field field"
       *ngIf="addressForm.get('type') as type"
       [class.field--invalid]="isControlInvalid(type)"
  >
    <label class="field__label">Тип доставки</label>
    <div class="field__control address-form__control">
      <div class="tabs">
        <button class="tabs__tab"
                *ngFor="let addressType of addressTypes"
                [class.tabs__tab--active]="addressType.data === type.value"
                (click)="setAddressType(addressType)"
        >
          {{ addressType.view }}
        </button>
      </div>
    </div>
  </div>

  <div class="address-form__field field" *ngIf="addressForm.get('settlementName') as settlementControl">
    <label class="field__label">Город</label>
    <div class="field__control address-form__control">
      <select-autocomplete type="settlement"
                           [activeOptionLabel]="settlementControl.value"
                           (select)="onSettlementSelect($event)"
      ></select-autocomplete>

      <span class="field__error" *ngIf="isControlInvalid(settlementControl)">
        Это обязательное поле
      </span>
    </div>
  </div>

  <ng-container [ngSwitch]="addressForm.get('type').value">

    <ng-container *ngSwitchCase="addressTypeEnum.WAREHOUSE">

      <div class="address-form__field field"
           *ngIf="addressForm.get('addressName') as addressControl"
           [class.field--invalid]="isControlInvalid(addressControl)"
      >
        <label class="field__label">Отделение</label>
        <span class="field__control address-form__control">
          <select-autocomplete type="warehouse"
                               [settlementId]="settlementIdControl.value"
                               [isDisabled]="!settlementIdControl.value"
                               [activeOptionLabel]="addressControl.value"
                               (select)="onWarehouseSelect($event)"
          ></select-autocomplete>

          <span class="field__error" *ngIf="isControlInvalid(addressControl)">
            Это обязательное поле
          </span>
        </span>
      </div>

    </ng-container>

    <ng-container *ngSwitchCase="addressTypeEnum.DOORS">

      <div class="address-form__field field"
           *ngIf="addressForm.get('addressName') as addressControl"
           [class.field--invalid]="isControlInvalid(addressControl)"
      >
        <label class="field__label">Улица</label>
        <span class="field__control address-form__control">
          <select-autocomplete type="street"
                               [settlementId]="settlementIdControl.value"
                               [isDisabled]="!settlementIdControl.value"
                               [activeOptionLabel]="addressControl.value"
                               (select)="onStreetSelect($event)"
          ></select-autocomplete>

          <span class="field__error" *ngIf="isControlInvalid(addressControl)">
            Это обязательное поле
          </span>
        </span>
      </div>

      <div class="address-form__field field"
           *ngIf="addressForm.get('buildingNumber') as buildingNumber"
           [class.field--invalid]="isOptionalControlInvalid('buildingNumber')"
      >
        <label for="addr-buildingNumber" class="field__label">Номер дома</label>
        <span class="field__control address-form__control">
          <input class="field__input" [formControl]="buildingNumber" type="text" id="addr-buildingNumber">
        </span>
      </div>

      <div class="address-form__field field"
           *ngIf="addressForm.get('flat') as flat"
           [class.field--invalid]="isOptionalControlInvalid('flat')"
      >
        <label for="addr-flat" class="field__label">Квартира</label>
        <span class="field__control address-form__control">
          <input class="field__input" [formControl]="flat" type="text" id="addr-flat">
        </span>
      </div>

    </ng-container>
  </ng-container>


</form>
