<div class="field">
  <div class="field__control select breadcrumb-container" (clickOutside)="toggleVisibility(false)">

    <button class="select__active"
            [class.select__active--focused]="isVisible"
            [disabled]="isDisabled"
            (click)="toggleVisibility()"
            type="button"
    >
      <span class="active-breadcrumb breadcrumbs" *ngFor="let currentBreadcrumb of activeBreadcrumb">
        {{ currentBreadcrumb?.name[lang] }}
      </span>
      
    </button>

    <div class="select__options" *ngIf="isVisible">
      <div class="select__option"
           *ngFor="let breadcrumbs of breadcrumbsVariants"
           [class.select__option--active]="breadcrumbs"
           (click)="selectOption(breadcrumbs)" 
      >
        <span class="breadcrumbs" *ngFor="let breadcrumb of breadcrumbs">
          {{ breadcrumb?.name[lang] }}
        </span>  
      </div>
    </div>

  </div>

</div>
