@import "variables";

.orders-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px 5px 34px;

  &__header {
    flex-shrink: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__grid {
    flex-grow: 2;
    /* autoprefixer: ignore next */
    max-height: -moz-available; /* WebKit-based browsers will ignore this. */
    /* autoprefixer: ignore next */
    max-height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    max-height: fill-available;
  }
}

.order {
  &__name {
    width: 100%;
  }

  &__customer-name {
    margin: 5px 0 0;
    font-size: 12px;
    font-weight: 400;
    color: #999;
  }

  &__time {
    width: 100%;
    display: block;
    margin: 3px 0 0;
    font-size: 13px;
    color: rgba($dark, 0.6);
  }

  &__is-paid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;

    &--danger {
      background: rgba($red, 0.2);
    }
  }

  &__storage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;

    &--danger {
      background: rgba($red, 0.2);
    }
  }

  &__media {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    object-fit: contain;

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

.status-control {
  margin: 9px 0 0 15px;

  &__toggle {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 6px;
  }
}

.small {
  font-size: 12px;
}
