<div class="page">
  <header class="header page__header">
    <h1 class="header__title">
      Заказы
    </h1>

    <div class="status-control" *ngIf="false">
      Показать только готовые к отправке <toggle class="status-control__toggle" [formControl]="statusControl"></toggle>
    </div>

    <div class="header__toolbar">
      <app-button (click)="copyOrdersToClipboard()">Скопировать в буфер</app-button>
      <app-button class="header__btn" (click)="add()" btnStyle="primary" >Добавить заказ</app-button>
    </div>
  </header>

  <grid class="page__grid"
        [cells]="gridCells"
        [itemsArray]="orders"
        [itemsFiltered]="itemsFiltered"
        [linkUrlSuffix]="gridLinkUrl"
        [pagesTotal]="pagesTotal"
        [isLoading]="isGridLoading"
        [isItemGrey]="isOrderGrey"
        (gridChange)="fetchOrders($event)"
        trackByFieldName="id"
        linkFieldName="id"
        gridName="order-list"
  >
    <span grid-total-items>Всего заказов: {{ itemsTotal }}</span>
    <span grid-no-items>Заказы не найдены</span>

    <ng-template #cellContent let-order="item">{{ order.id }}</ng-template>
    <ng-template #cellContent let-order="item">
      {{ order.createdAt | date:'dd.MM.y' }}
      <span class="order__time">{{ order.createdAt | date:'HH:mm:ss' }}</span>
    </ng-template>
    <ng-template #cellContent let-order="item">
      <div class="order__name">
        {{ order.shipment.recipient.contactInfo.firstName }} {{ order.shipment.recipient.contactInfo.lastName }}
        <br>
        {{ order.shipment.recipient.contactInfo.phoneNumber | beautifyPhone }}
        <div class="order__customer-name"
             *ngIf="hasDifferentName(order) as differentName"
        >
          {{ differentName }}
        </div>
      </div>
    </ng-template>
    <ng-template #cellContent let-order="item">
      <span class="small">{{ order.shipment.recipient.address.settlementName || order.shipment.recipient.address.settlementNameFull }}</span>
    </ng-template>
    <ng-template #cellContent let-order="item">{{ order.prices.totalCost }} {{ defaultCurrency | readableCurrency }}</ng-template>
    <ng-template #cellContent let-order="item">{{ order.notes.fromAdmin }}</ng-template>
    <ng-template #cellContent let-order="item">{{ order.statusDescription[lang] }}</ng-template>
    <ng-template #cellContent let-order="item">
      <span class="small">
        {{ order.shipment.statusDescription }}
      </span>
    </ng-template>
    <ng-template #cellContent let-order="item">
      {{ order.shippedAt | date:'dd.MM.y' }}
      <span class="order__time">{{ order.shippedAt | date:'HH:mm:ss' }}</span>
    </ng-template>
    <ng-template #cellContent let-order="item">{{ order.shipment.trackingNumber }}</ng-template>
    <ng-template #cellContent let-order="item">
      <div class="order__storage"
           [class.order__storage--danger]="isPaidStorageSoon(order)"
      >
        {{ order.shipment.paidStorageStartDate | date:'dd.MM.y' }}
      </div>
    </ng-template>
    <ng-template #cellContent let-order="item">
      <div class="order__is-paid"
           *ngIf="order.paymentInfo.type !== paymentTypes.CASH_ON_DELIVERY"
           [class.order__is-paid--danger]="!order.isOrderPaid"
      >
        {{ order.isOrderPaid ? 'Да' : 'Нет' }}
      </div>
    </ng-template>
    <ng-template #cellContent let-order="item">{{ order.paymentInfo.methodAdminName[lang] }}</ng-template>
    <ng-template #cellContent let-order="item">{{ order.isCallbackNeeded ? 'Да' : 'Нет' }}</ng-template>
    <ng-template #cellContent let-order="item">{{ order.notes.fromCustomer }}</ng-template>
    <ng-template #cellContent let-order="item">
      <img class="order__media"
           *ngFor="let media of order.medias"
           [src]="getOrderMediaUrl(media)"
      >
    </ng-template>
    <ng-template #cellContent let-order="item">
      {{ order.shipment.sender.contactInfo.firstName }} <ng-container *ngIf="order.shipment.sender.contactInfo.lastName as lastName">{{ lastName.slice(0, 1) }}.</ng-container>
    </ng-template>
    <ng-template #cellContent let-order="item">{{ order.manager.name }}</ng-template>
    <ng-template #cellContent let-order="item">
      <ng-container [ngSwitch]="order.source">
        <ng-container *ngSwitchCase="'client'">Клиент</ng-container>
        <ng-container *ngSwitchCase="'manager'">Менеджер</ng-container>
      </ng-container>
    </ng-template>
    <ng-template #cellContent let-order="item">
      <span class="small">{{ order.notes.aboutCustomer }}</span>
    </ng-template>
  </grid>

</div>
