@import "mixins";
@import "variables";

$sidebarWidth: 60vw;

.navbar-toggle {
  position: fixed;
  top: 15px;
  left: 15px;
  padding: 10px;
  background: rgba($dark, 0.9);
  border-radius: 5px;
  box-shadow: 2px 2px 7px 3px rgba($dark, 0.2);
  z-index: 9;

  &__line {
    display: block;
    width: 19px;
    height: 3px;
    margin: 4px 0 0;
    border-radius: 2px;
    background: #fff;

    &:first-child {
      margin-top: 0;
    }
  }
}

.navbar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($dark, 0.4);
  animation: fadeIn 0.2s ease;
  cursor: pointer;
  z-index: 10;
}

.navbar {
  position: relative;
  height: 100%;
  padding: 0 0 20vh;
  background: #373330;

  @include respond-to-less-than($media_large) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $sidebarWidth;
    height: auto;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
    z-index: 11;
  }

  &--opened {
    @include respond-to-less-than($media_large) {
      transform: translateX(0);
    }
  }

  &__item {
    position: relative;
  }

  &__link {
    position: relative;
    display: block;
    padding: 16px 5px 11px;
    text-align: center;
    color: #aaa6a0;
    font-size: 10px;
    text-transform: uppercase;

    @include respond-to-less-than($media_large) {
      display: flex;
      align-items: center;
    }

    &:not(&--logo):hover {
      background: #4a4542;
      color: #f7f3eb;
      cursor: pointer;
    }

    &--active:not(&--logo) {
      background: #524d49;
      color: #f7f3eb;
    }

    &--logo {
      position: relative;
      padding: 20px 0 22px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 15px;
        border-top: 1px solid grey;
      }
    }
  }

  &__logo {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    object-fit: contain;
  }

  &__icon {
    display: block;
    margin: 0 auto 3px;
    font-size: 22px;

    @include respond-to-less-than($media_large) {
      width: 50px;
      margin: 0;
    }
  }

  &__pin-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 13px;
    opacity: 0.5;
    cursor: pointer;
  }
}

.sub-navbar {
  position: absolute;
  top: 0;
  left: 88px;
  width: max-content;
  min-width: 240px;
  height: 100%;
  padding: 88px 15px;
  background-color: rgba(55, 51, 48, 0.95);
  z-index: 3;

  @include respond-to-less-than($media_large) {
    left: 0;
    min-width: auto;
    width: $sidebarWidth;
    padding: 20px 0;
    z-index: 12;

    @include appear($translateY: 0, $translateX: -60px);
  }

  &__item {
    margin-bottom: 10px;
    position: relative;

    &:hover img {
      display: block;
    }
  }

  &__link {
    display: block;
    padding: 10px 20px;
    color: #f1ede6;

    &:hover {
      background: #4a4542;
      color: #f7f3eb;
      cursor: pointer;
    }
  }

  &__pin-icon {
    display: none;
    position: absolute;
    top: 12px;
    right: 10px;
    height: 13px;
    cursor: pointer;

    &--visible {
      display: block;
    }
  }

  &__back {
    font-size: 18px;
  }
}
