@import "../abstracts/mixins";

.container {
  width: 1200px;
  margin: 0 auto;

  @include respond-to-less-than($media_large) {
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
}
