@import "mixins";
@import "variables";

.contact-info {
  left: 50vw;

  @include respond-to-less-than($media_large) {
    left: 10vw;
  }

  &__submit {
    margin: 30px 0 0;
    text-align: center;
  }
}
