@import "variables";
@import "mixins";

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__limit-container {
    display: flex;
    align-items: center;
  }

  &__limit {
    width: 100px;

    @include respond-to-less-than($media_large) {
      width: 80px;
    }
  }

  &__limit-label {
    margin: 0 0 0 6px;
  }

  &__page-container {
    margin: 0 0 0 40px;
    display: flex;
    align-items: center;

    @include respond-to-less-than($media_large) {
      margin-left: 20px;
    }
  }

  &__page-control {
    padding: 8px 15px;
    background: $controlBg;
    border: 1px solid $borderColor;
    transition: all 0.2s ease;

    @include respond-to-less-than($media_large) {
      padding: 7px;
    }

    &[disabled] {
      opacity: 0.5;
      cursor: default;
    }

    &:not([disabled]):hover {
      background: darken($controlBg, 10%);
    }
  }

  &__page-icon {
    font-size: 17px;
  }

  &__text {
    margin: 0 20px;

    @include respond-to-less-than($media_large) {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}
