@import "variables";
@import "mixins";


.order-view {
  margin: 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include respond-to-less-than($media_large) {
    display: block;
    margin-top: 0;
  }

  &__manager-container {
    display: flex;
    justify-content: flex-end;
  }

  &__manager {
    width: 200px;
  }

  &__block {
    width: 48%;
    margin: 10px 0;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0 0 4px 0 #c8c8c8;

    @include respond-to-less-than($media_large) {
      width: 100%;
      padding: 0;
      border-radius: 0;
      box-shadow: none;
    }

    &:hover {
      box-shadow: 0 0 4px 0 #a7a7a7;

      @include respond-to-less-than($media_large) {
        box-shadow: none;
      }
    }

    &--wide {
      width: 100%;
    }

    &--no-border {
      box-shadow: none;

      &:hover {
        box-shadow: none;
      }
    }
  }

  &__subtitle {
    margin: 5px 0 0;
    padding: 0 10px 5px;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid $borderColor;
    font-size: 18px;

    @include respond-to-less-than($media_large) {
      margin-top: 20px;
    }
  }

  &__status {
    margin: 0 35px;
    padding: 10px 35px;
    border-radius: 20px;
    background: rgba(65, 54, 47, 0.9);
    font-size: 20px;
    font-weight: 500;
    color: #fff;

    @include respond-to-less-than($media_large) {
      display: inline-block;
      margin-left: 0;
      margin-right: 0;
      font-size: 18px;
    }
  }

  &__content {
    margin: 10px 0 0;

    @include respond-to-less-than($media_large) {
      overflow: auto;
    }

    &--wide {
      width: 100%;
    }
  }

  &__no-tracking-number {
    color: rgba($dark, 0.6);
  }

  &__edit-btn {
    margin: 1px 0 0 15px;
    font-size: 14px;
    color: $blue;
    text-decoration: underline;
  }

  &__address {
    line-height: 1.3;
    padding: 0 10px;
  }

  &__client-link {
    border-bottom: 1px solid;
  }

  &__finish-order {
    margin: 20px 0 0;
    display: flex;
    justify-content: flex-end;
  }

  &__summary-block {
    margin: 10px 0 0;
    display: flex;
    justify-content: flex-end;
  }

  &__sender {
    margin: 10px 0 0;
  }

  &__storage {
    margin: 7px 0 0;
  }
}

.info-table {
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

    &:nth-child(2n-1) {
      background: #eee;
    }
  }

  &__block {
    &--reviews {
      text-align: right;
    }
  }
}

.method {
  margin: 5px 0 0;
  padding: 0 10px;

  &__title {
    font-size: 16px;
    font-weight: 500;
  }

  &__name {
    margin: 10px 0 0;
  }
}

.items-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  @include respond-to-less-than($media_medium) {
    display: none;
  }

  &__row {
    &--head {
      font-weight: 500;
    }

    &--even {
      background: #eee;
    }
  }

  &__block {
    padding: 5px 20px;
    border: 1px solid $borderColor;

    &--img {
      width: 100px;
      max-height: 100px;
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
    }

    &--name {
      width: 40%;

      @include respond-to-less-than($media_large) {
        width: auto;
        min-width: 200px;
      }
    }

    &--packed {
      width: 120px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
    }
  }

  &__qty {
    font-size: 18px;
    font-weight: 500;

    &--warning {
      background: darken($red, 25%);
      color: #fff;
    }
  }

  &__link {
    border-bottom: 1px dashed;

    @include respond-to-less-than($media_large) {
      border-bottom: none;
    }
  }

  &__img {
    max-height: 100px
  }

  &__packed {
    color: #23af33;
  }
}

.items-list {
  display: none;

  @include respond-to-less-than($media_medium) {
    display: block;
  }

  &__item {
    margin: 0 0 15px;
    padding: 5px 5px 15px;
    border: 1px solid rgba($borderColor, 0.3);
    border-bottom-color: $borderColor;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__row {
    display: flex;
    margin: 4px 0 0;
    padding: 4px 0 0;
    border-top: 1px solid rgba($borderColor, 0.3);

    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }
  }

  &__title {
    flex-shrink: 0;
    min-width: 60px;
    width: 30%;
    max-width: 100px;
  }

  &__value {
    flex-grow: 2;
    padding: 0 0 0 10px;
  }

  &__img {
    height: 50px;
  }

  &__qty {
    font-size: 24px;
    font-weight: 500;

    &--warning {
      display: inline-block;
      border-bottom: 1px solid;
      color: darken($red, 15%);
    }
  }

  &__pack {
    margin: 10px 0 0;
    text-align: center;
  }

  &__packed {
    color: #23af33;
  }
}

.address-form {
  &__modal {
    left: 30vw;

    @include respond-to-less-than($media_large) {
      left: 10vw;
    }
  }

  &__form {
    display: block;
  }

  &__submit-container {
    margin: 20px 0 0;
    text-align: center;
  }
}

.preloader {
  top: initial;
  bottom: 15vh;
  position: fixed;
  z-index: 21;
}

.tracking {
  padding: 0 10px;

  &__input {
    width: 150px;
    border: 1px solid $borderColor;
    padding: 4px 8px;
    font-size: 16px;
  }
}

.payment-status {
  margin: 15px 0 0;

  &__control {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 6px;
  }

  &__error {
    margin: 6px 0 0;
    color: $red;
  }
}

.update-note {
  text-align: right;

  &__control {
    display: block;
    width: 250px;
    min-height: 50px;
    margin: 0 0 8px;
  }
}

.summary {
  width: 430px;
  text-align: right;

  &__row {
    display: flex;
    align-items: center;

    &:nth-child(odd) {
      background: $controlBg;
    }
  }

  &__block {
    padding: 5px 10px;
    font-size: 16px;

    &:first-child {
      width: 70%;
      text-align: left;
    }

    &:last-child {
      width: 30%;
    }
  }

  &__place-order {
    margin: 15px 0 0;
  }
}

.log {
  margin: 5px 0 0;

  @include respond-to-less-than($media_large) {
    word-break: break-word;
  }
}

.tooltip {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  bottom: calc(100% + 10px);
  transform: translateX(-50%);
  min-width: 150px;
  padding: 10px 16px;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba($dark, 0.3);
  font-weight: 400;
  line-height: 1.2;
  z-index: 10;
  box-sizing: border-box;

  @include appear('tooltip', $translateX: -50%, $translateToX: -50%);

  @include respond-to-less-than($media_large) {
    flex-wrap: wrap;
  }

  :hover > &:not(&--no-hover) {
    display: block;
  }

  &::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: -(10px / 2);
    transform: translateX(-50%) rotate(45deg);
    background: #fff;
    border: solid #bbb;
    border-width: 1px 0 0 1px;
  }

  &--bottom {
    right: auto;
    bottom: auto;
    top: calc(100% + 15px);
    transform: translate(0, -50%);

    @include appear('tooltip-bottom', $translateY: 20px, $translateX: -50%, $translateToX: -50%);

    &::after {
      bottom: auto;
      top: -(10px / 2);
      transform: translateX(0) rotate(45deg);
    }
  }

  &--right-bottom {
    left: auto;
    right: 0;
    bottom: auto;
    top: calc(100% + 15px);
    transform: translate(0, -50%);

    @include appear('tooltip-right-bottom', $translateY: 20px);

    &::after {
      bottom: auto;
      top: -(10px / 2);
      left: auto;
      right: 20%;
      transform: translateX(0) rotate(45deg);
    }
  }

  &--internet-doc {
    z-index: 9;
  }
}

.tooltip-btn {
  position: relative;

  &__action {
    min-width: 120px;
    width: max-content;
  }
}

.internet-document-btn {
  position: relative;
}

.media {
  display: flex;
  flex-wrap: wrap;

  &__asset {
    margin: 0 20px 25px 5px;
  }
}
