@import "variables";
@import "mixins";

.customer-contact-info {

  &__control {
    width: 100%;
    margin: 6px 0 0;
  }

  &__additional-info {
    margin: 10px 0 0;
  }

  &__reviews {
    margin: 3px 0 0;
  }

  &__note {
    font-size: 18px;
  }
}
