<div class="page">
  <div class="header">
    <h1 class="header__title">
      Новый заказ <ng-container *ngIf="customer">для <ng-container *ngIf="!isNewCustomer; else newCustomerText">{{ customer.contactInfo.firstName }} {{ customer.contactInfo.lastName }}</ng-container></ng-container>

      <ng-template #newCustomerText>нового клиента</ng-template>
    </h1>

    <div class="header__toolbar">
      <button class="header__btn toolbar-btn" *ngIf="isNewOrder && !customer" (click)="navigateToOrderList()" type="button">
        <i class="ai ai-arrow-left"></i> назад
      </button>
      <button class="header__btn toolbar-btn" *ngIf="customer" (click)="cancelEdit()" type="button">
        Отменить
      </button>
      <button class="header__btn toolbar-main-btn" *ngIf="customer" (click)="onPlaceOrder()" type="button">
        Разместить заказ
      </button>
    </div>
  </div>

  <ng-template #customerTmpl>
    <div class="order__subtitle order__subtitle--customer">
      Пожалуйста, выберите клиента

      <app-button (click)="createNewCustomer()" [btnSize]="'small'">
        Создать нового клиента
      </app-button>
    </div>

    <customer-selector class="order__customer-selector"
                       (selected)="selectCustomer($event)"
    ></customer-selector>
  </ng-template>

  <div class="order" *ngIf="customer; else customerTmpl">

    <div class="order__container flex">

      <div class="flex__item">

        <div class="order__block-container">
          <div class="order__subtitle">
            <ng-container *ngIf="isNewCustomer">Информация о клиенте</ng-container>
            <a class="blue-link"
               *ngIf="!isNewCustomer"
               [routerLink]="['/', 'admin', 'customer', 'edit', customer?.id]"
               target="_blank"
            >
              Информация о клиенте
            </a>
          </div>

          <div class="order__block">
            <customer-contact-info [customerContactInfo]="order.customerContactInfo"></customer-contact-info>


            <div class="customer-contact-info">
              <div class="customer-contact-info__reviews">
                Отзывов о магазине: <b>{{ customer.storeReviewIds.length }}</b><span *ngIf="customer.storeReviewIds.length > 0">. Средняя оценка: <b>{{ customerAvgStoreReviewsRating }}</b></span>
              </div>

              <div class="customer-contact-info__reviews">
                Отзывов о товаре: <b>{{ customer.productReviewIds.length }}</b><span *ngIf="customer.productReviewIds.length> 0">. Средняя оценка: <b>{{ customerAvgProductReviewsRating }}</b></span>
              </div>

              <div>
                Коммент о клиенте: <b><span class="customer-contact-info__note">{{ customer.note }}</span></b>
              </div>
            </div>
          </div>
        </div>

        <div class="order__block-container">
          <div class="order__subtitle">
            Кто получатель?
          </div>

          <div class="order__block">
            <recipient-contact-info [contactInfo]="order.recipientContactInfo"></recipient-contact-info>
          </div>
        </div>

        <div class="order__block-container">
          <div class="order__subtitle">
            Информация об адресе
          </div>
          <div class="order__block">
            <div class="order__addresses-deprecated" *ngIf="customer.deprecatedAddresses?.length">
              <div class="order__addresses-deprecated-title">
                Старые адреса этого покупателя:
              </div>
              <ng-container *ngFor="let deprecatedAddress of customer.deprecatedAddresses">
                {{ deprecatedAddress }}
                <br>
              </ng-container>
            </div>
            <div class="field" *ngIf="!isNewCustomer && addressSelectOptions.length > 1">
              <div class="field__label">
                Выбрать адрес из существующих:
              </div>
              <div class="field__control">
                <app-select class="order__address-selector"
                            [options]="addressSelectOptions"
                            [formControl]="addressSelectControl"
                >
                </app-select>
              </div>
            </div>

            <address-form class="order__address"
                          [address]="order.address"
                          [showIsDefault]="false"
            ></address-form>
          </div>
        </div>

      </div>

      <div class="flex__item flex__item--wider">

        <div class="order__block-container">
          <order-items [items]="order.items"
                       (itemsChanged)="onOrderItemsChanged($event)"
          ></order-items>
        </div>

        <div class="order__block-container order__block-container--total">
          <div class="order__subtitle">
            Оплата
          </div>
          <div class="order__block order__shipping-payment">
            <payment-method-selector class="order__method"
                                     [activeId]="order.paymentMethodId"
                                     (selected)="onPaymentMethodSelect($event)"
            ></payment-method-selector>
          </div>

          <div class="order__block order__summary-block">
            <order-prices [prices]="order.prices"
                          (pricesChanged)="onPricesChange($event)"
            ></order-prices>
          </div>
        </div>

        <div class="order__block-container">
          <div class="order__subtitle">
            Доп. информация
          </div>
          <div class="order__block">
            <div class="order__field field">
              <label for="adminNote" class="field__label">Комментарий менеджера</label>
              <span class="field__control">
                <input class="field__input" [(ngModel)]="order.note" type="text" id="adminNote">
              </span>
            </div>
          </div>
          <div class="order__block">
            <div class="order__field field">
              <label class="field__label">Менеджер</label>
              <div class="field__control">
                <app-select [options]="managerSelectOptions" [(ngModel)]="order.manager.userId"></app-select>
              </div>
            </div>
          </div>
        </div>

        <div class="place-order">
          <app-button (click)="onPlaceOrder()"
                      btnStyle="primary"
                      btnSize="big"
          >
            Разместить заказ
          </app-button>
        </div>

      </div>

    </div>

  </div>

</div>

<preloader class="preloader" *ngIf="isLoading" [hasMargins]="false"></preloader>
