@import "variables";
@import "mixins";
$lightBorderColor: rgba(173, 173, 173, 0.25);

.flex {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 38%;
    margin-right: 10px;

    @include respond-to-less-than($media_max-content-width) {
      width: 100%;
    }

    &--wider {
      width: 60%;

      @include respond-to-less-than($media_max-content-width) {
        width: 100%;
      }
    }
  }
}

.order {
  &__container {
    padding-top: 15px;
  }

  &__block-container {
    margin: 15px 3px;
    padding: 15px 15px 25px 15px;
    box-shadow: 0 0 4px 0 #c8c8c8;
    border-radius: 2px;

    &:hover {
      box-shadow: 0 0 4px 0 #a7a7a7;
    }

    &--total {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__subtitle {
    width: 90%;
    margin: 0 auto;
    padding: 5px 10px 15px;
    border-bottom: 1px solid $lightBorderColor;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 18px;
    font-weight: 500;

    &--customer {
      width: 100%;
      margin-top: 20px;
    }
  }

  &__block {
    margin: 20px 0 0;
  }

  &__addresses-deprecated {
    margin: 0 0 30px;
  }
  &__addresses-deprecated-title {
    margin: 0 0 7px;
    color: rgba($dark, 0.6);
    font-size: 13px;
  }

  &__customer-selector {
    display: block;
    margin: 30px 0 0;
  }

  &__address-selector {
    display: inline-block;
    width: 300px;
  }

  &__address-save-container {
    margin: 20px 0 0;
  }

  &__address-save {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
  }

  &__field {
    margin: 30px 0 0;
  }

  &__address {
    margin: 30px 0 0;
  }

  &__shipping-payment {
    display: flex;
    width: 50%;
    margin: 30px 0 0;
    padding: 0 30px;
  }

  &__method {
    width: 100%;
    padding: 0 30px 0 0;
  }

  &__summary-block {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }

  &__customer {
    padding-left: 30px;
    line-height: 1.3;
  }
}

.place-order {
  margin: 25px 0 0;
  display: flex;
  justify-content: flex-end;
}

.preloader {
  top: initial;
  bottom: 15vh;
  position: fixed;
  z-index: 21;
}

.customer-contact-info {
  margin: 10px 0 0;

  &__reviews {
    margin: 3px 0 0;
  }

  &__note {
    font-size: 18px;
  }
}
